.nav-link {
    color: #121212;
}

.default-color {
    color: #6580CC !important;
}

.gray-color {
    color: #80848B;
}

.default-bg {
    background-color: #6580CC;
}

#works {
    background-color: #F8FAFF;
}